:root {
    --theme-color: #d97706;
}

* {
    border: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}

input#search-bar {
    background-color: lightgrey;
    border-radius: 15px;
    padding: 5px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    padding: 15px 30px;
    gap: 25px 15px; 
}

.search-container {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.user-container {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
}

.welcome-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 5px 15px;
}

.welcome-container > p {
    grid-template-columns: 2/-1;
    grid-template-rows: 2/-1;
    align-self: end;
}

.welcome-container > h3 {
    grid-template-columns: 2/-1;
    grid-template-rows: 2/-1;
    align-self: start;
}

.welcome-container > .profile-pic {
    grid-area:  1 / 1 / 3 / 2;
    justify-self: center;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn-container > .btn-controls {
    background-color: var(--theme-color);
    border-radius: 15px;
    color: white;
    width: 75px;
    height: 30px;
    padding: 7px;
    cursor: pointer;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: var(--theme-color);
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    padding: 25px;
    gap: 50px;
    color: white;
}

.sidebar > .logo-container {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo-container > svg {
    fill: white;
    height: 100%;
    width: 50px;
    cursor: pointer;
}

.logo-container > h3 {
    font-size: 28px;
}

.sidebar > .nav {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sidebar h4 {
    font-size: large;
    cursor: pointer;
}

.sidebar h4:hover {
    text-decoration: underline 2px white;
    text-underline-offset: 4px;
}

.sidebar i {
    cursor: pointer;
    font-size: 18px;
    align-self: center;
    justify-self: center;
}

.sidebar i:hover + h4 {
    text-decoration: underline 2px white;
    text-underline-offset: 4px;
}

.sidebar > .nav-access {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content {
    grid-column: 2 / end;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    padding: 15px 30px;
}

.main-container {
    display: grid;
    grid-template-rows: auto 1fr;
    
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px 20px;
}

.projects {
    background-color: white;
    min-height: 200px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 3fr 1fr;
}

.projects > .line-highlight {
    grid-area: 1 / 1 / 3 / 2;
    width: 10px;
    height: 100%;
    background: linear-gradient(to bottom, #6d28d9, #be185d);
    border-radius: 15px 0px 0px 15px;
}

.projects > .text-block {
    padding: 20px 20px 0px 20px;
}

.projects > .text-block > h5 {
    font-size: large;
    margin-bottom: 10px;
}

.projects > .btn-block {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 20px 20px;
}

.btn-block > .project-btns {
    cursor: pointer;
    font-size: 22px;
}

.sub-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.announcements-container, .trending-container {
   display: grid;
   grid-template-rows: auto 1fr;
}

.announcements, .trending {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.announcements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    margin-bottom: 10px;
    font-size: large;
    font-weight: 500;
}

.announ-box {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow-wrap: break-word;
}

.announ-box:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.announ-box > p, .trending-box > p {
    color: grey;
    font-size: small;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    
}

.trending-box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    column-gap: 15px;
}

.trending-box > .profile-pic {
    grid-area: 1 / 1 / 3 / 2;
}

.trending-box > h5 {
    align-self: end;
}
